// Fonts
$font-family-base: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';

$font-family-brand: 'Quicksand', 'Avenir', 'Century Gothic', sans-serif,
  $font-family-base;

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
  $font-family-base;

// Brand colors
$brand-primary: #0288d1;
$brand-secondary: #67b8e3;
$brand-dark: #02669d;

// Base
$base-background: #fff;
$base-color: #333;
$base-code-background: mix($base-color, $base-background, 3%);

// Hero
$hero-background: linear-gradient(to bottom, $base-background, #f9f9f9);

// Header
$header-height: 100px;
