/**
 * [WIP] Default theme
 *
 * @theme default
 */

@import '~github-markdown-css';
@import '~highlight.js/styles/github';

section {
  @extend .markdown-body;

  align-items: stretch;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 29px;
  justify-content: center;
  padding: 78.5px;
}

h1 {
  border-bottom: none;
  color: #246;
  font-size: 1.6em;
}

h2 {
  border-bottom: none;
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.05em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

pre {
  border: 1px solid #999;
  line-height: 1.15;
}
