/*
 * [WIP] Gaia theme
 *
 * @theme gaia
 */

@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import '~highlight.js/styles/sunburst';

$color-primary: #0288d1;

section {
  padding: 80px;
  color: #455a64;

  background-color: #fff8e1;
  background-image: linear-gradient(
    135deg,
    rgba(#888, 0),
    rgba(#888, 0.02) 50%,
    rgba(#fff, 0) 50%,
    rgba(#fff, 0.05)
  );

  font-size: 35px;
  font-family: 'Lato', 'Avenir Next', 'Avenir', 'Trebuchet MS', 'Segoe UI',
    sans-serif;
  line-height: 1.35;
  letter-spacing: 1.25px;

  > *:first-child {
    margin-top: 0;
  }
}

a {
  color: $color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

ul,
ol {
  > li {
    margin: 0.3em 0 0 0;

    > p {
      margin: 0.6em 0 0 0;
    }
  }
}

code {
  background: #888;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.1em 0.2em;
}

pre {
  display: block;
  overflow: hidden;

  code {
    display: block;
    margin: 0;
    padding: 0.5em;
    font-size: 0.7em;
  }
}

/* Custom class */
section.lead {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: center;
  }
}
