$brand-primary: #0288d1;
$brand-dark: #02669d;
$brand-light: #67b8e3;
$important-color: complement($brand-primary);

:root {
  --mono-tint3: #fbfbfb;
  --theme-color: #{$brand-primary};
  --strong-color: currentColor;

  // Base
  --base-letter-spacing: 0.25px;
  --base-font-size: 14.5px;

  // Animation
  --duration-slow: 0.6s;
  --duration-medium: 0.3s;
  --duration-fast: 0.15s;

  // Sidebar
  --sidebar-background: var(--mono-tint3);
  --sidebar-width: 270px;
  --sidebar-padding: 20px 40px;

  // Sidebar navigation
  --sidebar-nav-link-text-decoration--hover: none;
  --sidebar-nav-link-text-decoration--active: none;
  --sidebar-nav-link-color--hover: var(--theme-color);
  --sidebar-nav-link-color--active: var(--theme-color);
  --sidebar-nav-link-font-weight--active: bold;

  // Content
  --content-max-width: 60em;

  // Content: link
  --link-color: #{$brand-primary};
  --link-color--hover: #{$brand-dark};
  --link-text-decoration: none;

  // Content: headings
  --heading-h4-font-weight: 500;
  --heading-h5-color: var(--mono-base);
  --heading-h5-font-weight: 500;
  --heading-h6-color: var(--mono-tint1);
  --heading-h6-font-weight: normal;

  // Notices
  --notice-border-width: 0 0 1px 0;
  --notice-before-color: #fff;
  --notice-before-padding: 0 4px 0 0;
  --notice-before-height: 2.5em;
  --notice-before-line-height: calc(var(--notice-before-height) * 1.55);
  --notice-before-left: 100%;
  --notice-before-top: 100%;
  --notice-before-width: 2.5em;
  --notice-before-margin: calc(var(--notice-before-height) * -1) 0 0
    calc(var(--notice-before-width) * -1);

  // Notice: important
  --notice-important-background: #{mix(#fff, complement($brand-light), 90%)};
  --notice-important-border-color: #{$important-color};
  --notice-important-before-content: '';
  --notice-important-before-background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M100%200L0%20100h100V0z%22%2F%3E%3Cpath%20fill%3D%22%23#{str-slice(inspect($important-color), 2)}%22%20d%3D%22M63.35%2036.65l2.28%204.57%2019.9%2039.83C88%2086%2085.5%2090%2080%2090H42.27c-5.5%200-8-4-5.52-8.94l17.84-35.65L0%20100h100V0z%22%2F%3E%3Cpath%20fill%3D%22%23#{str-slice(inspect($important-color), 2)}%22%20d%3D%22M60.93%2085.5a4.06%204.06%200%200%200%204.24-4.24%204%204%200%200%200-1.19-3%204.72%204.72%200%200%200-6.15%200%204%204%200%200%200-1.18%203%204%204%200%200%200%204.28%204.24zM63.83%2073.07l1.79-26.08-.25-.22-8.66.33%201.37%2026.08%205.75-.11z%22%2F%3E%3C%2Fsvg%3E');

  // Notice: tip
  --notice-tip-background: #{mix(#fff, $brand-light, 90%)};
  --notice-tip-border-color: #{$brand-primary};
  --notice-tip-before-content: '';
  --notice-tip-before-background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M100%200L0%20100h100V0z%22%2F%3E%3Cpath%20fill%3D%22%23#{str-slice(inspect($brand-primary), 2)}%22%20d%3D%22M67.11%2032.89A28.87%2028.87%200%200%201%2090%2061.13%2028.86%2028.86%200%200%201%2061.14%2090a28.87%2028.87%200%200%201-28.25-22.89L0%20100h100V0z%22%2F%3E%3Cpath%20fill%3D%22%23#{str-slice(inspect($brand-primary), 2)}%22%20d%3D%22M69.92%2080.74a7.67%207.67%200%200%201-1.38-.28%208.64%208.64%200%200%201-1.22-.46%202.37%202.37%200%200%201-1.16-1%203%203%200%200%201-.35-1.66l.9-22.21-.4-.42-13.74.73-.08%202a10.32%2010.32%200%200%201%201.84.39%205.43%205.43%200%200%201%201.5.65%203.39%203.39%200%200%201%201.07%201.18%203.15%203.15%200%200%201%20.38%201.72l-.66%2016.28a3.45%203.45%200%200%201-.43%201.67%202.42%202.42%200%200%201-1.3%201%204.79%204.79%200%200%201-1.21.28c-.47.06-1%20.1-1.43.14l-.09%202h17.68zM61.58%2049.75a5.76%205.76%200%200%200%203.94-1.5%204.93%204.93%200%200%200%201.78-3.62A4.58%204.58%200%200%200%2065.83%2041%205.29%205.29%200%200%200%2062%2039.49a6%206%200%200%200-1.76.27L56.4%2043.6a5.81%205.81%200%200%200-.15%201%204.55%204.55%200%200%200%201.49%203.62%205.36%205.36%200%200%200%203.84%201.53z%22%2F%3E%3C%2Fsvg%3E');

  @media screen and (min-width: 1320px) {
    --base-font-size: 16px;
    --sidebar-width: 25vw;
  }
}

.markdown-section {
  padding-bottom: 4rem;
  padding-top: 4rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    code {
      font-size: inherit;
    }
  }

  .tip,
  .warn {
    &::before {
      position: absolute;
      text-align: right;
    }
  }

  @media (max-width: 30em) {
    .table-wrapper {
      overflow-x: auto;
      overflow-x: overlay;
      -webkit-overflow-scrolling: touch;

      th,
      td {
        white-space: nowrap;
      }
    }
  }
}

.sidebar {
  box-shadow: 0 0 40px var(--mono-tint2);

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--mono-tint2);
  }

  > h1 img {
    max-height: 100px;
  }
}

@media (min-width: 48em) {
  body.close {
    .sidebar {
      box-shadow: none;
    }
  }
}

@media (max-width: 47.99em) {
  body:not(.close) {
    .sidebar {
      box-shadow: none;
    }
  }

  body.close {
    .content {
      background-color: var(--base-background-color);
      filter: blur(4px) brightness(0.95);
      opacity: 0.5;
    }
  }
}
