@import './common';

.title {
  &-link {
    color: $brand-primary;
    text-decoration: none;

    &:hover {
      color: $brand-dark;
      transition: color 0.15s linear;
    }
  }
}

.github {
  align-items: center;
  display: inline-flex;
  text-decoration: none;

  &-author {
    border-radius: 1.5em;
    height: 1.5em;
    margin: 0 0.25em 0 0;
    width: 1.5em;
  }
}
