@import './common';

.meta {
  &,
  &-github {
    align-items: center;
    color: #888;
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: middle;
  }

  &-github {
    color: currentColor;
    text-decoration: none;

    &-icon {
      background: #f0f0f0;
      border-radius: 1.75em;
      color: transparent;
      display: block;
      height: 1.75em;
      overflow: hidden;
      text-indent: 1.75em;
      white-space: nowrap;
      width: 1.75em;
    }

    @at-root {
      a#{&}:hover {
        color: #666;

        &:active {
          color: #333;
        }
      }
    }
  }
}
