@import './common';

.header {
  display: flex;
  align-items: center;
  background: $base-background;
  box-sizing: border-box;
  height: $header-height;
  overflow: hidden;
  color: #444;
  font-size: 1rem;
}

.logo {
  width: auto;
  height: 60%;
}
