@import './common';

.header {
  align-items: center;
  background: $base-background;
  border-bottom: 1px solid $base-background;
  box-sizing: border-box;
  color: #444;
  display: flex;
  font-size: 1rem;
  height: $header-height;
  overflow: hidden;
  padding: 0 25px;
  transition: border-color 0.15s linear;
  z-index: 1;

  > * {
    flex: 0 0 auto;
  }

  &.stuck {
    border-color: #eee;
  }
}

.logo {
  display: block;
  height: 50px;
  width: auto;

  &-link {
    margin: 0 25px 0 0;
  }
}

.nav {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
  align-items: center;
}
