@import './common';

.hero {
  background: $hero-background;
  display: flex;
  height: calc(100vh - #{$header-height});
  min-height: 320px;

  @include portrait {
    flex-direction: column;
  }
}

.lead {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: center;
  text-align: center;

  &-logo {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 25%;
  }

  &-header {
    margin: 0 auto;
    text-align: left;
  }

  &-name {
    display: table;
  }

  &-description {
    display: table;
  }

  @include portrait {
    flex: 1;
  }
}

.screenshot {
  background-size: contain;
  background: url('../assets/screenshot-web.png') no-repeat center center;
  box-sizing: border-box;
  filter: drop-shadow(0 2px 5px rgba(#000, 0.1));
  flex: 6;
  margin: 50px 30px;

  @include portrait {
    flex: auto;
    margin: 20px;
  }
}
