@import '~normalize.css';
@import './common';
@import './fonts';

html,
body {
  background: $base-background;
  font-family: 'Quicksand', 'Avenir', 'Century Gothic', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0.04em;
  overflow: hidden;
}
