@import './common';

.container {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;

  -webkit-overflow-scrolling: auto;
  -webkit-tap-highlight-color: transparent;

  > * {
    -webkit-tap-highlight-color: initial;
  }
}
