doctype
html
  head
    meta(charset="UTF-8")
    meta(name="robots", content="noindex,noarchive")
    meta(http-equiv="refresh", content="0;URL=https://github.com/yhatt/marp/")
    title @marp-team/marp
  body
